

 /* 
 definir a paleta de cores!
 */ 
:root {
    --branco:#ffffff;
    --gelo:#f1f1f1;
    --verde:#19c465;
    --preto:#2a2a2a;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body { 
    background-color: var(--branco);
    font-family: 'Bebas Neue',  sans-serif;
    font-size: 15px;
    *line-height: 25px;
}
.toolbar{
    height: 80px;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.toolbar-inner .{

    background-color: var(--branco);
    border-top: 1px solid var(--gelo);
}
/*
    modificar o toolbar
*/

.toolbar-inner .link{    
    flex:1;
    height: 80px; 
    text-align: center;
    font-size: 15px;
    line-height: 25px;
	font-weight:bold;
    color: var(--verde);
}



.toolbar-inner .link:not(.active){
    color: var(--preto);
	font-weight:normal;
  
}

.toolbar-inner > .link i{
    font-size: 28px;
}
/*classe da barra de navegacao*/
.top-nav{
    width: 100%;
    background: var(--branco);
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.title-logo{
   font-weight: 600;
   margin-left: 5%; 
}
.title-logo span{
    color: var(--verde);
}
.btn-cart {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 5%;
}